
#miSidebar {
        text-align: left;
		float: left;
		margin-left: 85%;
		
		width: 25%;
		
		
}

#menuHeader {
	margin-left: 50%;
	
}

html{
	background-color: #A9E2F3
}



#divLoop{
    float:left;
    width:70%;
}
#divSidebar{
    float:left;
    width: 25%;
}







