

#menuHeader {
	margin-left: 40%;
	
}

html{
	background-color: #A9E2F3
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#divLoop{
    float:left;
    width:75%;
}
#divSide{
    float:left;
    width: 25%;
    
}

#divFoot{
    
    width: 100%;
    
}





